flukraken2.tar.gz filter=lfs diff=lfs merge=lfs -text
marine_mammal_mitochondrion-refseq-20210629.tar.gz filter=lfs diff=lfs merge=lfs -text
*marine_mammal_mitochondrion-refseq-20210629.tar.gz filter=lfs diff=lfs merge=lfs -text
